<html>
    <head>
        <title>medvid.io Demo App</title>
    </head>
<body>

<h1>medvid.io Demo App</h1>
<h2>Options</h2>
<h3>Users</h3>
<a href="/user_new">Create a User</a>
</br>
<a href="/user_list">List Users</a>
<h3>Groups</h3>
<a href="/group_new">Create a Group</a>
</br>
<a href="/group_list">List Groups</a>
<h3>Policies</h3>
<a href="/policy_manage">Create a Policy</a>
</br>
<a href="/policy_list">List Policies</a>
<h3>Videos</h3>
<a href="/video_upload">Upload Video</a>
</br>
<a href="/video_list">List Videos (User)</a>
</br>
<a href="/video_group_list">List Videos (User and Group)</a>
</body>
</html>